<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Gazebo -->
  <arg name="gui" default="true"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find tfg)/worlds/mapa1.world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="verbose" value="1"/>
  </include>
  
  <!-- MavROS -->
  <include file="$(find mavros)/launch/apm.launch"/>
  
  <!-- Mission Planner -->
  <node name="mission_planner" pkg="tfg" type="mission_planner.sh"/>
  
</launch>
